<DOCTYPE HTML>
	<html xmlns:th"http://www.thymeleaf.org">
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</head>
	<body>
	<h1>Edit Book</h1>
	<div>
	<table class="table table-striped">
	<tr>
	<form th:object="${book}" th:action="@{../save}" action="#" method="post">
<td><input type="hidden" th:field="*{id}" class="form-control"/></td>
	<td><input type="text" id="author" th:field="*{author}" /></td>
	<td><input type="text" id="title" th:field="*{title}" /></td>
	<td><input type="text" id="year" th:field="*{year}" /></td>
	<td><input type="text" id="isbn" th:field="*{isbn}" /></td>
	<label for="categoryList">Category</label>
	<select th:field="*{category}" class="form-controll">
	<option th:each="category: ${categories}"
	th:value="${category.categoryid}"
	th:text="${category.name}"></option>
	</select>
<td><input type="submit" class="btn btn-success" value="Save"></input></td>
</form>
	</div>
	</tr>
	</table>
	</body>
	</html>